node_modules

dist/*
source/*
data/*
export/*
archive/*
settings/*

.idea
.vscode
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.orig

!settings/config.default.yml
!dist/.keep
!source/.keep
!data/.keep
!export/.keep
!archive/.keep